# Binarios
backend/bin/
*.exe

# Base de datos
*.db
*.db-wal
*.db-shm

# Go
backend/vendor/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/.metadata

# Flutter platforms not needed
mobile/ios/
mobile/linux/
mobile/macos/
mobile/windows/
mobile/web/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
deployments/.env

# OS
.DS_Store
Thumbs.db
